@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_hotelHeaderFooter.cshtml";
}
    <div class="container-fluid  m-5 ">
        @using (Html.BeginForm())
        {
            <br />
            @Html.Label("Add Role")
            <br />
            <input type="text" name="rolename" />
            <input type="submit" />
        }
    </div>