
@{
    ViewBag.Title = "_abaout";
    Layout = "~/Views/Shared/_hotelHeaderFooter.cshtml";
}

    <div class="container-fluid p-5">
        <h1 class="text-center"> About us</h1>
        <p class="lead text-center">
            Help you to Find Hotel and Booking througth it
            in any where you want
        </p>
    </div>
<div class="container-fluid pb-5" style="background-color: white;">
    <h1 class="pl-5 pt-5"> Team <strong>Develoment</strong></h1>
    <div class="row px-5">
        <div class="col-md-2 col-lg-2  col-sm-12">

            <img src="~/Content/images/IMG20200305112252.jpg" style="max-width: 100%;height:auto;" />
        </div>
        <div class="col-md-10 col-lg-10  col-sm-12">
            <p style="text-align:justify">
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
            </p>
        </div>

    </div>
    <h4 class="pl-5" style="color: darkred;">Abanoub</h4>
</div>
<div class="container-fluid pb-5" style="background-color: white;">
    
    <div class="row px-5">
        <div class="col-md-2 col-lg-2  col-sm-12">
            <img src="~/Content/images/IMG20200305112252.jpg" style="max-width: 100%;height:auto;"  />
         
        </div>
        <div class="col-md-10 col-lg-10  col-sm-12">
            <p style="text-align:justify">
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
            </p>
        </div>

    </div>
    <h4 class="pl-5" style="color: darkred;">Mokhtar</h4>
</div>
<div class="container-fluid pb-5" style="background-color: white;">
    <div class="row px-5">
        <div class="col-md-2 col-lg-2  col-sm-12">

            <img src="~/Content/images/IMG20200305112252.jpg" style="max-width: 100%;height:auto;" />
        </div>
        <div class="col-md-10 col-lg-10  col-sm-12">
            <p style="text-align:justify">
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
            </p>
        </div>

    </div>
    <h4 class="pl-5" style="color: darkred;">Ahmed</h4>
</div>


<div class="container-fluid pb-5" style="background-color: white;">
    
    <div class="row px-5">
        <div class="col-md-2 col-lg-2  col-sm-12">

            <img src="~/Content/images/IMG20200305112252.jpg" style="max-width: 100%;height:auto;">
        </div>
        <div class="col-md-10 col-lg-10  col-sm-12">
            <p style="text-align:justify">
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
                lab  lab lab
            </p>
        </div>

    </div>
    <h4 class="pl-5" style="color: darkred;">Safy</h4>
</div>










